name: SonarCloud Scan

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

jobs:
  sonarcloud:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout repository
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Step 2: Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Print Node version
        run: node -v

      # Step 3: Enable Corepack & Install pnpm dependencies with cache
      - name: Install Dependencies
        uses: pnpm/action-setup@v2
        with:
          version: latest
      - name: Install project dependencies
        run: pnpm install --frozen-lockfile

      # Step 4: Run SonarCloud Scan
      - name: Run SonarCloud Scan
        uses: sonarsource/sonarqube-scan-action@v2
        with:
          projectBaseDir: .
          args: >
            -Dsonar.projectKey=taralama_component-hub
            -Dsonar.organization=tarahero
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}
            -X  # Enable debug logging
